### Amostragem de reservatório

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
dataset = pd.read_csv('census.csv')

In [3]:
#Podemos definir como dados em stream um conjunto de dados que continuamente recebe informações e registros.
#E como podemos retirar uma amostragem aleatória de forma que haja a mesma probabilidade dos dados do conjunto serem
#selecionados no momento da nossa análise, quando o dataset é continuamente atualizado?
#É possível definir uma função que utiliza o tamanho do dataset em uma lista dentro de uma variável e uma estrutura de 
#repetição para atualizar os valores da nossa amostragem em relação ao tamanho da nossa população.

In [8]:
def amostragem_reservatorio(dataframe, amostras): #A função recebe um conjunto de dados e a quantidade de amostras que queremos
    stream = [] #A variável 'stream' recebe uma lista vazia
    for i in range(len(dataframe)):
        stream.append(i) #Esse for vai inserir um valor na nossa lista para cada linha do nosso conjunto de dados
    
    i = 0 #Dentro do for, a variável 'i' foi sendo incrementada até a última linha do dataset, então vamos zerá-la
    tamanho = len(dataframe) #A quantidade de registros do dataframe pode ser inserido nessa variável 'tamanho'
    
    reservatorio = [0] * amostras #Criado uma variável 'reservatorio' e dentro dela é gerado uma lista já com a quantidade de
    #amostras que definimos, mas cada valor da lista inicia como sendo 0
    for i in range(amostras):
        reservatorio[i] = stream[i] #Esse for percorre a quantidade de amostras incrementando a variável 'i' e atribui o valor
        #referente ao índice [i] dentro da variável 'stream' ao valor do índice [i] da variável 'reservatorio'
        
    while i < tamanho: #Enquanto a variável 'i' for menor que o tamanho do dataframe
        j = random.randrange(i + 1) #Um número entre 0 e i+1 é escolhido aleatóriamente. A variável 'i' será incrementada ao
        #final do loop
        if j < amostras: #Se esse número aleatório for menor que o número de amostras passado
            reservatorio[j] = stream[i] #Vamos atribuir ao valor do índice [j] dentro da variável 'reservatorio' o valor 
            #referente ao ínidice [i] dentro da variável 'stream'
        i += 1 #Incremento da variável 'i'
    return dataframe.iloc[reservatorio] #Assim que nossa variável conter a lista com o valor de amostras aleatórias que 
    #definimos, a função retorna a variável com os valores e seus índices para dentro do dataframe

In [11]:
df_amostra_reservatorio = amostragem_reservatorio(dataset, 100)
df_amostra_reservatorio.shape

(100, 15)

In [12]:
df_amostra_reservatorio.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
7008,49,Private,215389,Bachelors,13,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,0,0,48,United-States,<=50K
16670,47,Self-emp-inc,201699,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
3937,39,Private,191841,Assoc-acdm,12,Separated,Prof-specialty,Not-in-family,White,Female,0,0,30,United-States,<=50K
26236,32,Private,177792,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,48,United-States,>50K
1354,58,Private,132606,5th-6th,3,Divorced,Machine-op-inspct,Not-in-family,Black,Male,0,0,40,United-States,<=50K