### Amostra estratificada

In [1]:
#Para a amostra estratificada, é simples: Imagine que nossa população tem 90 registros e 54 são mulheres e 36 são homens.
#Quando definimos um valor de amostras, os registros devem ser proporcionais entre mulheres e homens. Digamos então que queremos
#uma amostragem de 10%. Basta pegar 10% de 54 mulheres e 10% de 36 homens e teremos nossa amostra estratificada de forma 
#proporcional. 54 * 10% = 5,4 (arredondamos para 5) e 36 * 10% = 3,6 (arredondamos para 4). Nossa amostra terá 5 mulheres e
#4 homens.
#Agora basta utilizar outra técnica para retirar as amostras aleatórias dentro de cada grupo, uma vez que temos a quantidade.

In [2]:
#Importando as bibliotecas

import pandas as pd
from sklearn.model_selection import StratifiedShuffleSplit

#sklearn é uma biblioteca de machine learning com vários recursos estatíticos para aprendizado de máquina.
#model_selection é um pacote da biblioteca que traz funções onde podemos dividir nossos dados em porções e realizar testes.
#StratifiedShuffleSplit é a função que vai dividir proporcionalmente nossa base de dados para obtermos as amostras estratificas.

In [3]:
dataset = pd.read_csv("census.csv")

In [7]:
dataset.shape

(32561, 15)

In [4]:
dataset.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
dataset.tail()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [6]:
#Digamos então que queremos tirar uma amostragem estratificada usando o income como referência. Vamos usar o value_counts()
#para descobrir quais valores temos nessa coluna 'income' e suas quantidades.

dataset['income'].value_counts()

income
 <=50K    24720
 >50K      7841
Name: count, dtype: int64

In [8]:
#Acima temos que 24720 dos nossos registros ganham menos ou igual a 50K por ano. Já 7841 ganham mais que 50K.
#Isso em porcentagem representa:

24720 / len(dataset), 7841 / len(dataset)

#O valor é proporcional a 76% e 24%.

(0.7591904425539756, 0.2408095574460244)

In [9]:
#Então podemos chamar nossa função para dividir nossa base de dados em duas variáveis que são nossos dataframes de treino e de
#teste (x e y).

base_dividida = StratifiedShuffleSplit(test_size = 0.1) #A função recebe o parâmetro test_size que determina em porcentagem
#a porção da amostra que usaremos
for x, y in base_dividida.split(dataset, dataset['income']):
    df_treino = dataset.iloc[x]
    df_teste = dataset.iloc[y]

#A função split recebe como parâmetro nosso dataset e a coluna que será usada de referência na divisão.
#df_treino recebe o valor da variável x que foi criada no for e representa 0.9 (90% da base)
#df_teste recebe o valor da variável y que foi criada no for e representa 0.1 (10% da base), ou seja, o valor que passamos como
#test_size dentro da função StratifiedShuffleSplit.

In [10]:
df_treino.shape, df_teste.shape

#Aqui podemos reparar como ficou a divisão da base dentro das novas variáveis.

((29304, 15), (3257, 15))

In [11]:
#Para garantir a proporcionalidade da nossa amostragem, novamente utilizamos o value_counts()

df_teste['income'].value_counts()

income
 <=50K    2473
 >50K      784
Name: count, dtype: int64

In [13]:
2473 / len(df_teste), 784 / len(df_teste)

#O valor é proporcional a 76% e 24%, como vimos anteriormente.

(0.7592876880564937, 0.24071231194350629)

In [14]:
#Se quisermos utilizar um valor diferente de amostragem, basta definir o valor e alterar o test_size.
#Por exemplo, se eu quiser somente 100 amostras estratificadas, preciso descobrir o quanto representa do meu dataset.
#Basta dividir 100 pelo len do dataset.

100 / len(dataset)

#Esse é o valor que vai dentro do nosso test_size

0.0030711587481956942

In [17]:
#Agora só criar uma nova base dividida e novos dataframes dentro das variáveis (dessa vez a e b).

nova_base_dividida = StratifiedShuffleSplit(test_size = 0.0030711587481956942) 
for a, b in nova_base_dividida.split(dataset, dataset['income']):
    novo_df_treino = dataset.iloc[a]
    novo_df_teste = dataset.iloc[b]

In [18]:
novo_df_treino.shape, novo_df_teste.shape

((32461, 15), (100, 15))

In [19]:
novo_df_teste['income'].value_counts()

income
 <=50K    76
 >50K     24
Name: count, dtype: int64

In [35]:
#Criando a função para retirar amostra estratificada:
def amostragem_estratificada(dataframe, percentual, coluna): #Adicionei um parâmetro 'coluna' pra definir a referência do dado
    #que dividirá nossa base
    nova_base = StratifiedShuffleSplit(test_size = percentual) 
    for _, t in nova_base.split(dataframe, coluna):
        novo_df = dataframe.iloc[t]
    return novo_df

In [36]:
amostra_estratificada = amostragem_estratificada(dataset, 0.05, dataset['income'])
amostra_estratificada.shape

(1629, 15)

In [37]:
amostra_estratificada['income'].value_counts()

income
 <=50K    1237
 >50K      392
Name: count, dtype: int64

In [38]:
1237 / len(amostra_estratificada), 392 / len(amostra_estratificada)

(0.7593615715162676, 0.24063842848373235)