In [1]:
import pandas as pd
import numpy as np
import random
from sklearn.model_selection import StratifiedShuffleSplit
from funcoes_amostragem import amostragem_aleatoria_simples, amostragem_sistematica, amostragem_agrupamento, amostragem_estratificada, amostragem_reservatorio

In [2]:
dataset = pd.read_csv('credit_data.csv')

In [3]:
dataset.shape

(2000, 5)

In [4]:
dataset.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [5]:
dataset.tail()

      i#clientid        income        age         loan  c#default
1995        1996  59221.044874  48.518179  1926.729397          0
1996        1997  69516.127573  23.162104  3503.176156          0
1997        1998  44311.449262  28.017167  5522.786693          1
1998        1999  43756.056605  63.971796  1622.722598          0
1999        2000  69436.579552  56.152617  7378.833599          0

In [6]:
teste_aleatoria = amostragem_aleatoria_simples(dataset, 1000)
teste_aleatoria.shape

(1000, 5)

In [7]:
teste_grupos = amostragem_agrupamento(dataset, 2)
teste_grupos.shape

(1001, 6)

In [8]:
teste_grupos.head()

   i#clientid        income        age         loan  c#default  grupo
0           1  66155.925095  59.017015  8106.532131          0      0
1           2  34415.153966  48.117153  6564.745018          0      0
2           3  57317.170063  63.108049  8020.953296          0      0
3           4  42709.534201  45.751972  6103.642260          0      0
4           5  66952.688845  18.584336  8770.099235          1      0

In [9]:
teste_grupos.tail()

      i#clientid        income        age         loan  c#default  grupo
996          997  49104.768240  35.538517  9452.217947          0      0
997          998  65776.232413  39.798191  2805.863745          0      0
998          999  36192.149452  21.402403  7236.173930          1      0
999         1000  62165.861186  19.602543  4739.948954          0      0
1000        1001  50793.355720  41.601886   421.640380          0      0

In [10]:
teste_estratificada = amostragem_estratificada(dataset, 0.5, dataset['c#default'])
teste_estratificada.shape

(1000, 6)

In [11]:
teste_reservatorio = amostragem_reservatorio(dataset, 1000)
teste_reservatorio.shape

(1000, 6)

In [12]:
teste_sistematica = amostragem_sistematica(dataset, 1000)
teste_sistematica.shape

(1000, 6)

In [13]:
 dataset['age'].mean(), dataset['loan'].mean(), dataset['income'].mean()

(40.80755937840458, 4444.369694688258, 45331.600017793244)

In [14]:
teste_aleatoria['age'].mean(), teste_aleatoria['loan'].mean(), teste_aleatoria['income'].mean()

(41.33376273305807, 4335.101526458846, 45083.70256213239)

In [15]:
teste_grupos['age'].mean(), teste_grupos['loan'].mean(), teste_grupos['income'].mean()

(41.0432231120503, 4390.161493744205, 44846.74925986141)

In [16]:
teste_estratificada['age'].mean(), teste_estratificada['loan'].mean(), teste_estratificada['income'].mean()

(40.83890709893707, 4446.194945958285, 45290.495917585205)

In [17]:
teste_reservatorio['age'].mean(), teste_reservatorio['loan'].mean(), teste_reservatorio['income'].mean()

(40.57203708208336, 4429.634971370369, 45111.194297345355)

In [18]:
teste_reservatorio['age'].mean(), teste_reservatorio['loan'].mean(), teste_reservatorio['income'].mean()

(40.57203708208336, 4429.634971370369, 45111.194297345355)

In [19]:
teste_sistematica['age'].mean(), teste_sistematica['loan'].mean(), teste_sistematica['income'].mean()

(40.91117381141754, 4506.78797642633, 45691.49875066942)