In [1]:
import pandas as pd
import numpy as np
import random
from sklearn.model_selection import StratifiedShuffleSplit
from funcoes_amostragem import amostragem_aleatoria_simples, amostragem_sistematica, amostragem_agrupamento, amostragem_estratificada, amostragem_reservatorio

In [2]:
dataset = pd.read_csv('census.csv')

In [3]:
dataset.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
amostra_simples = amostragem_aleatoria_simples(dataset, 100)
amostra_simples.shape

(100, 15)

In [5]:
amostra_sistematica = amostragem_sistematica(dataset, 100)
amostra_sistematica.shape

(100, 15)

In [6]:
amostra_grupos = amostragem_agrupamento(dataset,326)
amostra_grupos.shape

(100, 16)

In [7]:
100 / len(dataset)

0.0030711587481956942

In [8]:
amostra_estratificada = amostragem_estratificada(dataset, 0.0030711587481956942, dataset['income'])
amostra_estratificada.shape

(100, 16)

In [9]:
amostra_reservatorio = amostragem_reservatorio(dataset, 100)
amostra_reservatorio.shape

(100, 16)

In [10]:
dataset['age'].mean()

38.58164675532078

In [11]:
amostra_simples['age'].mean()

37.93

In [12]:
amostra_sistematica['age'].mean()

37.57

In [13]:
amostra_grupos['age'].mean()

38.97

In [14]:
amostra_estratificada['age'].mean()

40.66

In [15]:
amostra_reservatorio['age'].mean()

37.85